 
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }

    .bar{
        color: white;
    }
}
.jumbotron{
    margin-top: -30px; 
    height: 760px;
    text-align: center; 
    /* padding: 100px 300px 300px 500px; */
    font-family: 'Indie Flower', cursive;
    
}

.img-profile img{
    text-align:center;
    display: inline;
}
.img-responsive{
    border-radius: 50%;
}

.container{
     font-family: 'Indie Flower', cursive;
}
.container.education{
    padding: 100px 0px 0px 0px;
}

.row.education p{
    padding: 10px 0px 0px 0px;
}

/* .row education{
    padding: 1000px 0px 0px 0px;
} */