h1{
   text-align: center; 
}

.jumbotron{
    text-align: center;
    height: 400px;
     background-image: url("https://minecraft.net/static/pages/img/index-hero-og.088fb7996b03.jpg");
     background-position: center;
}
    




