.jumbotron{
    height: 100vh;
    text-align: center;
    padding: 30vh;
    background-image: url("picture/rps.png");
    background-size: cover;
    color: blue;
}

.bottom{
    text-align: center;
}

