body{
    background-color: white;
    background-position: center;
    text-align: center;
}

img{
    width: 25%;
}

.nintendo{
    padding: 20px;
    margin: auto;
    vertical-align: center;
    border: 20px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: italic;
}

.projectDescription{
    vertical-align: center; 
    padding: 10px;
    margin: auto;
    border: 10px solid gray;
    font-size: 30px; 
    width: 80%; 
    text-align: center;
    
}